  .margin-left {
    margin-left: 2.5px;
  }
  
  .btn-lp {
    background-color: #166571;
    border-color: #166571;
  }
  
  .btn-lp:hover {
    background-color: #25aabe !important;
    border-color: #25aabe !important;
    color: black !important;
  }
  
  .green-hover:hover {
    color: #166571;
    transition: none !important;
  }

  .image_transparent {
    background-color: transparent;
  }

  .image_transparent:hover {
    background-color: transparent;
  }
  
  .image_1 {
    background-image: url(/assets/images/terminaciones/laca-uv-sectorizada.jpg);
    background-size: cover;
    background-position: top center;
  }

  .image_1:hover {
    background-image: url(/assets/images/terminaciones/laca-uv-sectorizada.png);
    background-size: cover;
  }

  .image_2 {
    background-image: url(/assets/images/terminaciones/laca-texturizada.jpg);
    background-size: cover;
    background-position: center;
  }

  .image_2:hover {
    background-image: url(/assets/images/terminaciones/laca-texturizada.png);
    background-size: cover;
  }

  .image_3 {
    background-image: url(/assets/images/terminaciones/polipropileno-brilloso.jpg);
    background-size: cover;
    background-position: center;
  }

  .image_3:hover {
    background-image: url(/assets/images/terminaciones/polipropileno-brilloso.png);
    background-size: cover;
  }

  .image_4 {
    background-image: url(/assets/images/terminaciones/polipropileno-mate.jpg);
    background-size: cover;
    background-position: center;
  }

  .image_4:hover {
    background-image: url(/assets/images/terminaciones/polipropileno-mate.png);
    background-size: cover;
  }

  .image_5 {
    background-image: url(/assets/images/terminaciones/relieve.JPG);
    background-size: cover;
    background-position: center;
  }

  .image_5:hover {
    background-image: url(/assets/images/terminaciones/relieve.png);
    background-size: cover;
  }

  .image_6 {
    background-image: url(/assets/images/terminaciones/stamping.jpg);
    background-size: cover;
    background-position: center;
  }

  .image_6:hover {
    background-image: url(/assets/images/terminaciones/stamping.png);
    background-size: cover;
  }

  .image_7 {
    background-image: url(/assets/images/terminaciones/troquelado.jpg);
    background-size: cover;
    background-position: center;
  }

  .image_7:hover {
    background-image: url(/assets/images/terminaciones/troquelado.png);
    background-size: cover;
  }

  .label {
      display: inline;
      padding: .2em .6em .3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25em;
  }

  .label-warning {
      background-color: #f0ad4e;
  }

  .more {
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
    margin-bottom: 0px !important;
    font-size: 10px !important;
  }

  .back-page {
    text-transform: none !important;
    background-color: transparent !important;
    border: 1px black solid !important;
    font-size: 10px !important;
  }

  .hero-area-product {
    padding-bottom: 100px !important;
  }

  .subtitle {
    text-decoration: none !important;
    color: #888;
  }
